.home-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .home-title {
    position: relative;
    font-size: 30px;
    padding: 10px;
  }
  .home-subtitle {
    font-size: 22px;
    padding: 5px;
  }
}
