.ratio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .ratio-header {
    font-size: 22px;
    width: 100%;
    max-width: 980px;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    .title {
    }
    #month {
    }
    .select-container {
      position: relative;
      background-color: #e6e6e6;
      max-width: 100%;
      border-radius: 2px;
      height: 35px;
      margin-left: 35px;
      select {
        font-size: 1rem;
        font-weight: 200;
        max-width: 100%;
        padding: 8px 24px 8px 10px;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:active,
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      &:after {
        content: ' ';
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #aaa;
      }
    }
  }
  #histogram {
    max-width: 980px;
    width: 90%;
  }

  #line {
    max-width: 980px;
    width: 90%;
  }
  #bar {
    max-width: 980px;
    width: 90%;
  }
  #pie {
    max-width: 980px;
    width: 90%;
  }
}
